<h1>Please enter the code sent to your email</h1>
<form action="/emailotp" method="POST">
    <div>
        <label for="otp">Code</label>
        <input type="text" id="otp" name="otp" required>
    </div>
    <button type="submit">Submit</button>
</form>