<head>
    <title>HTML Login Form</title>
    <link href="/style.css" rel="stylesheet" type="text/css">
</head>

<body>
    <div class="main">
        <h1>Two Factor Authentication</h1>
        <h3>Select which method of additional authentication to use</h3>

        <div>
            <a href="/emailotp" style="text-decoration: none;">Email</a>
        </div>
        <p></p>
        <div>
            <a href="/appotp" style="text-decoration: none;">Authenticator App</a>
        </div>
        <p></p>
        <div>
            <a href="/smsotp" style="text-decoration: none;">Text Message</a>
        </div>
        <h1></h1>
    </div>
</body>

</html>